@model ElderlyCareSupportSystem.Application.Models.ViewModels.CompanyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Company</title>
</head>
<body>
    
</body>
</html>