<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Elderly Care Support System</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/lib/datatable/css/datatable.css"/>
</head>
<body class="" style="background-color: #FAF9F6">
@{ await Html.RenderPartialAsync("_SideBar"); }
<main role="main" class="ml-80 mt-10 p-3">
    @RenderBody()
</main>
@{ await Html.RenderPartialAsync("_Loader");}
<footer class="container fixed bottom-0 ml-80 border-top footer text-muted">
    <div class="container p-3 text-center text-muted">
        &copy; 2026 - ElderlyCareSupportSystem.Web - <a asp-area="" asp-controller="Home"
                                                        asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script src="~/lib/datatable/js/datatable.js"></script>
<script src="~/lib/sweet-alert/sweetalert2.js"></script>

<script src="~/js/Components/alertcomponent.js"></script>
<script src="~/js/Components/loadercomponent.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
<script>

    $(function () {
        initializeDataTable();
    });

    function toggleDropdown() {
        const dropdown = document.getElementById('dropdown');
        const arrow = document.getElementById('arrow');

        dropdown.classList.toggle('hidden');

        arrow.innerText = dropdown.classList.contains('hidden') ? '⌄' : '⌃';
    }

    function setActive(element) {
        // Remove active from all
        document.querySelectorAll('#dropdown a').forEach(el => {
            el.classList.remove('bg-gradient-to-r', 'from-purple-600', 'to-indigo-600', 'text-white');
            el.classList.add('text-gray-400');
        });

        // Add active to clicked
        element.classList.remove('text-gray-400');
        element.classList.add(
            'bg-gradient-to-r',
            'from-purple-600',
            'to-indigo-600',
            'text-white'
        );
    }

    function initializeDataTable() {
        const table = new DataTable('.elderlyCareTable', {
            autoWidth: true,
        });
    }
</script>
</body>
</html>
