@model ElderlyCareSupportSystem.Application.Models.ViewModels.CompanyViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Company</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/select/style/tom-select.css"/>
</head>
<body>
<div class="container mx-auto">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h4>Company Registration</h4>
        </div>

        <div class="card-body">

            <form id="CompanyRegistration" asp-action="Register" method="post">
                @Html.AntiForgeryToken()
                <div class="grid bg-emerald-950">

                    <div class="col-md-6">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="RegistrationNumber" class="form-label"></label>
                        <input asp-for="RegistrationNumber" class="form-control"/>
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="AddressLine1" class="form-label"></label>
                        <input asp-for="AddressLine1" class="form-control"/>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="AddressLine2" class="form-label"></label>
                        <input asp-for="AddressLine2" class="form-control"/>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="AddressLine3" class="form-label"></label>
                        <input asp-for="AddressLine3" class="form-control"/>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="City" class="form-label"></label>
                        <input asp-for="City" class="form-control"/>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="State" class="form-label"></label>
                        <input asp-for="State" class="form-control"/>
                    </div>

                    <div class="col-md-4">
                        <label asp-for="ZipCode" class="form-label"></label>
                        <input asp-for="ZipCode" class="form-control"/>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="CountryId" class="form-label">Country</label>
                        <select asp-for="CountryId" asp-items="@ViewBag.Countries" class="">
                            <option value="">Select County</option>
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="PhoneNumber" class="form-label"></label>
                        <input asp-for="PhoneNumber" class="form-control"/>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="UserName" class="form-label">User</label>
                        <input asp-for="UserName" class="form-control"/>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control"/>
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control"/>
                    </div>

                    <div class="col-md-6">
                        <label asp-for="Website" class="form-label"></label>
                        <input asp-for="Website" class="form-control"/>
                    </div>

                </div>

                <hr class="mt-4"/>

                <div class="text-end">
                    <button id="RegisterCompany" type="button" class="btn btn-success btn-sm">
                        Register
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>
@{ await Html.RenderPartialAsync("_Loader"); }
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/select/script/tom-select.js"></script>


<script src="~/lib/sweet-alert/sweetalert2.js"></script>
<script src="~/lib/select/script/tom-select.js"></script>

<script src="~/js/Modules/Company/Register.js"></script>
<script src="~/js/Components/loadercomponent.js"></script>
<script src="~/js/Components/alertcomponent.js"></script>

<script>
    $(document).on('click', '#RegisterCompany', function (event) {
        event.preventDefault();
        startLoader();
        const registrationFormData = getRegistrationData();

        const validationResult = validateRegistration(registrationFormData);
        if (!validationResult.valid) {
            stopLoader();
            errorAlert(validationResult.message);
            return;
        }

        register('@Url.Action("Register", "Company")', registrationFormData)
            .then(function (result) {
                window.location.href = '';
            });
    })
</script>

</html>